* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b3e4f8;
  padding: 10px;
}
main {
  visibility:hidden;
  width: 60%;
  overflow-y: auto;
  border-radius: 10px;
  font-size: larger;
}
main.expanded {
  visibility: visible;
  box-shadow: 5px 20px 10px rgba(0,0,0,0.1); 

}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(238, 233, 223);
  background-color: #363644;

}
.question:hover {
  background-color: #2b2b38;
}
.question.active {
  background-color: #1d1d29;
}

.answer {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
  width: 100%;
  font-weight:600;
}
.answer.active {
  display: block;
}

i {
    display: inline-block;
    transition: transform 0.3s ease;
}
.question.active i{
    transform: rotate(90deg);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: #363644;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #2b2b38;
}
button.expanded {
    display: none;
}

@media screen and (max-width: 768px) {
  main {
    width: 90%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1060px) {
  main {
    width: 70%;
    font-size: larger;
  }
}
main::-webkit-scrollbar {
    display: none;
}