
body {
  height: 100vh;
    margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "header menu menu menu"
    "hero hero hero hero"
    "main main . image"
    "main main . extra"
    "banner banner banner banner";

  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-rows: 14% 40% 14% 14% 14%;

  gap: 10px;
  padding: 10px;
}

header, nav, .hero, main, .image, .extra, footer {
 display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 3rem;
}

header {
  grid-area: header;
  background: #0B162C;
  color: white;
}
nav {

  grid-area: menu;
  background: #E74C3C;
  color: white;
}
.hero {
  grid-area: hero;
  background: #4A90E2;
  color: white;
}
main {
  grid-area: main;
  background: #172A3A;
  color: white;
}
.image {
  grid-area: image;
  background: #A8DADC;
  color: black;
}
.extra {
  grid-area: extra;
  background: #2EC4B6;
  color: black;
}
footer {
  grid-area: banner;
  background: #F4D35E;
  color: black;
}

@media (max-width: 768px) {
  body{
    grid-template-areas:
      "header"
      "menu"
      "hero"
      "main"
      "image"
      "extra"
      "banner";

    grid-template-columns: 1fr;

    grid-template-rows: repeat(7, auto);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    grid-template-areas:
      "header header menu menu"
      "hero hero hero hero"
      "main main image image"
      "main main extra extra"
      "banner banner banner banner";

    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-rows: repeat(5, auto);
  }
  
}