*{
    box-sizing: border-box;
    text-align: center;
}

body{
    padding: 20px;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

header{
    display: inline-block;
    width: 25%;
    background: #0B162C;
    color: white;
}

nav{
    display: inline-block;
    width: 75%;
    background: #E74C3C;
    color: white;
}

section{
    width: 100%;
    background-color: #4A90E2;
    color: white;
}

main{
    background-color: #172A3A;
    color: white;
    width: 50%;
}

.side_content{
    background-color: #2EC4B6;
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image{
    background-color: #A8DADC;
    color: black;
    width: 50%;
    height: 50%;
}

.extra{
    background-color: #B9B937;
    color: black;
    width: 50%;
    height: 50%;
}

footer{
    background-color: #F4D35E;
    color: black;
    width: 100%;
}

header, nav, section, main, .image, .extra, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    body{
        height: 90vh;
        flex-direction: column;
    }
    header, nav, section, main, .side_content, footer{
        width: 100%;
    }
    header, nav, section, main, .side_content, footer{
        height:16.6%;
    }
    .image, .extra{
        height: 100%;
    }
    .side_content{
        align-items: normal;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body{
        height: 90vh;
    }
    main, .side_content{
        width: 50%;
        align-items: normal;
        flex-wrap: wrap;
    }
    .image, .extra{
        width: 50%;
        height: 100%;
    }
}
